<a href="https://colab.research.google.com/github/mehektamboli/python/blob/main/practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = {
    'Name': ['Amit', 'Sneha', 'Ravi', 'Priya', 'Karan'],
    'Age': [23, 21, 25, 22, 24],
    'Marks': [85, 90, 78, 92, 88],
    'City': ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Kolkata']
}

df = pd.DataFrame(data)

print("Original DataFrame:\n", df)

df.to_csv('students.csv', index=False)
print("\nData exported to 'students.csv'")



print("\nFirst 3 Rows:\n", df.head(3))


print("\nInformation about dataset:")
print(df.info())

print("\nStatistical Summary:\n", df.describe())

print("\nMaximum Marks:", df['Marks'].max())
print("Minimum Marks:", df['Marks'].min())

sorted_df = df.sort_values(by='Marks', ascending=False)
print("\nData sorted by Marks:\n", sorted_df)

high_scorers = df[df['Marks'] > 85]
print("\nStudents with marks > 85:\n", high_scorers)


df['Grade'] = ['A', 'A+', 'B', 'A+', 'A']
print("\nDataFrame after adding Grade column:\n", df)


new_df = pd.read_csv('students.csv')
print("\nData imported from 'students.csv':\n", new_df)

Original DataFrame:
     Name  Age  Marks     City
0   Amit   23     85     Pune
1  Sneha   21     90   Mumbai
2   Ravi   25     78    Delhi
3  Priya   22     92  Chennai
4  Karan   24     88  Kolkata

Data exported to 'students.csv'

First 3 Rows:
     Name  Age  Marks    City
0   Amit   23     85    Pune
1  Sneha   21     90  Mumbai
2   Ravi   25     78   Delhi

Information about dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Marks   5 non-null      int64
 3   City    5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

Statistical Summary:
              Age      Marks
count   5.000000   5.000000
mean   23.000000  86.600000
std     1.581139   5.458938
min    21.000000  78.000000
25%    22.000000  85.000000
50%    23.000000  88.000000
75%    24.000000  90.000000
max    25.000000  92.000000

Maximum Marks: 92
Minimum Marks: 78

Data sorted by Marks:
     Name  Age  Marks     City
3  Priya   22     92  Chennai
1  Sneha   21     90   Mumbai
4  Karan   24     88  Kolkata
0   Amit   23     85     Pune
2   Ravi   25     78    Delhi

Students with marks > 85:
     Name  Age  Marks     City
1  Sneha   21     90   Mumbai
3  Priya   22     92  Chennai
4  Karan   24     88  Kolkata

DataFrame after adding Grade column:
     Name  Age  Marks     City Grade
0   Amit   23     85     Pune     A
1  Sneha   21     90   Mumbai    A+
2   Ravi   25     78    Delhi     B
3  Priya   22     92  Chennai    A+
4  Karan   24     88  Kolkata     A

Data imported from 'students.csv':
     Name  Age  Marks     City
0   Amit   23     85     Pune
1  Sneha   21     90   Mumbai
2   Ravi   25     78    Delhi
3  Priya   22     92  Chennai
4  Karan   24     88  Kolkata